/* your styles go here */
.logoPrincipal {
    max-width: 100%;
}

@font-face {
    font-family: RocGrotesk-Medium;
    src: url("../fonts/rocgrotesk-medium.otf") format("opentype");;
  }
  
@font-face {
font-family: RocGrotesk-Light;
src: url("../fonts/rocgrotesk-light.otf") format("opentype");;
}
  
  
@font-face {
font-family: WorkSans-Regular;
src: url("../fonts/WorkSans-Regular.ttf") format("truetype");;
}

.font-family-h1 {
    font-family: RocGrotesk-Medium !important;
}
.font-family-h2 {
    font-family: RocGrotesk-Light !important;
}
.font-family-p {
    font-family: WorkSans-Regular !important;
}

/* Buttons */
.boton-blanco {
    border: #1a1a1a solid 2px;
    color: #1a1a1a;
    font-weight: 500;
    /* margin-top: 44px; */
    font-family: WorkSans-Regular;
    font-size: 1em;
    background-color: #fff;
    text-decoration: none;
    margin-bottom: 1em;
    padding: 15px 0px;
    width: 100%;
    max-width: 222px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
    border-radius: 40px;
}

.boton-negro {
    border: #fff solid 2px;
    color: #fff;
    font-weight: 500;
    /* margin-top: 44px; */
    font-family: WorkSans-Regular;
    font-size: 1em;
    background-color: transparent;
    text-decoration: none;
    padding: 15px 0px;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    max-width: 222px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
    border-radius: 40px;
}

.anuncio {
    background-color: #000000;
    padding: 1em;
    margin-bottom: 1em;
}

.anuncioTitulo {
    color: #fff;
    border-bottom: #fff solid 1px;
    padding-bottom: 10px;
    float: left;
    clear: both;
    font-size: 1.5em;
    line-height: 45px;
    font-family: RocGrotesk-Medium !important;
    font-weight: bold;
    padding: 0;
}

.anuncioTexto {
    color: #fff;
    font-size: 1em;
    line-height: 30px;
    padding: 40px 0px 0 0;
    text-align: right;
    width: 100%;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    font-family: WorkSans-Regular;
    padding: 0;
}


.anuncioTextoSub {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    padding: 0 0px 80px 0;
    text-align: right;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    font-family: WorkSans-Regular;
    padding: 0;
}

.seccionBlanca {
    background-color: #ffffffd3;
    border: #000000 solid 1px;
    padding: 1em;
    margin-bottom: 1em;
}

.seccionVolver {
    background-color: transparent;
    border: #00000000;
    padding: 1em;
    margin-bottom: 1em;
}

.anuncioSeccionBlanca {
    color: #000;
    border-bottom: #000 solid 1px;
    padding-bottom: 10px;
    float: left;
    clear: both;
    font-size: 1.5em;
    line-height: 45px;
    font-family: RocGrotesk-Medium !important;
    font-weight: bold;
    padding: 0;
}

.seccionProgramaFiestas {
    background-color: transparent;
    border: #00000083 solid 1px;
    padding: 0;
    margin-bottom: 1em;
}

.imagenPrograma {
    width: 100%;
}

/* Flip */
.angry-animate{
    -webkit-animation:alert 2s ease-in-out 2s infinite normal;
    -moz-animation:alert 2s ease-in-out 2s infinite normal;
    -ms-animation:alert 2s ease-in-out 2s infinite normal;
    animation:alert 2s ease-in-out 2s infinite normal;
    }
    
    @-webkit-keyframes alert {
    0%{ -webkit-transform: translateX(0); transform: translateX(0); }
    5%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    10%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    15%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    25%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    35%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    45%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    50%{ -webkit-transform: translateX(0); transform: translateX(0); }
    }
    
    @keyframes alert {
    0%{ -ms-transform: translateX(0); transform: translateX(0); }
    5%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    10%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    15%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    25%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    35%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    45%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    50%{ -ms-transform: translateX(0); transform: translateX(0); }
    }